
// ======================================
// foundation
// ======================================
@use 'foundation/reset';
// ======================================
// layout
// ======================================
#l-header {
    width: 100%;
}
// ======================================
// object
// ======================================
// Component
// **************************************
.c-header {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
// Project
// **************************************
// Utility
// **************************************
