// ======================================
// foundation
// ======================================
@use 'foundation/reset';
@use 'foundation/variables';
@use 'foundation/base';
// ======================================
// layout
// ======================================
#l-header {
    width: 100%;
}
#l-main {
    padding: 80px;
}
#l-addTask {
    margin-bottom: var(--space_3l);
}
#l-search {
    margin-bottom: var(--space_3l);
}
// ======================================
// object
// ======================================
// Component
// **************************************
.c-header {
    width: 90%;
    height: 80px;
    margin: 0 auto;
    display: flex;
    &__home {
        margin-right: 50px;
        font-weight: bold;
        color: var(--color_red);
        font-size: var(--font-size_xl);
        padding: var(--space_xl) 0;
    }
    &__other {
        font-size: var(--font-size_s);
        cursor: pointer;
        margin-top: 30px;
    }
    &__menu {
        padding: var(--space_s) var(--space_m);
        border: 1px solid var(--font-color_default);
        border-radius: 5px;
        &.active {
            border-radius: 5px 5px 0 0;
            color: var(--color_sky);
        }
    }
    &__subitem {
        display: none;
        transition: all .4s;
        &.active {
            display: block;
            transition: all .4s;
        }
    }
    &__item {
        color: #fff;
        background: var(--color_red);
        padding: var(--space_s) var(--space_m);
        border-bottom: 1px solid var(--border-color_default);
        &:last-child {
            border-bottom: none;
        }
        &:hover {
            background: var(--color_pale);
        }
    }
}
.c-main {
    width: var(--site-width_xxl);
    margin: 0 auto;
}
.c-task {
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    &__input {
        height: 100%;
        padding: var(--space_s) var(--space_m);
        border: 1px solid var(--border-color_default);
        box-sizing: border-box
    }
    &__icon {
        width: 30px;
        padding: var(--space_s);
    }
}
.c-addTask {
    @extend .c-task;    
    border-radius: 5px;
    box-shadow: 1px 2px 5px 0px;
    overflow: hidden;
    &__input {
        @extend .c-task__input;
        width: 80%;
    }
    &__add {
        width: 20%;
        text-align: center;
        background: var(--color_sky);
        padding: var(--space_s) var(--space_m);
        font-weight: bold;
    }
}
.c-search {
    @extend .c-task;
    border-radius: 0 5px 5px 0;
    box-shadow: 1px 2px 5px 0px;
    overflow: hidden;
    background: #fff;
    align-items: center;
    &__icon {
        @extend .c-task__icon;
    }
    &__input {
        @extend .c-task__input;
    }
}
.c-list {
    &__item {
        @extend .c-task;
        height: 50px;
        background: #fff;
        padding: var(--space_s) var(--space_l);
        border-bottom: 1px solid var(--border-color_default);
        align-items: center;
        &:last-child {
            border-bottom: none;
        }
        &.done {
            background: var(--color_sky);
        }
    }
    &__icon {
        @extend .c-task__icon;
        font-size: var(--font-size_xl);
    }
    &__text {
        width: 100%;
        max-width: 360px;
        margin: 0 var(--space_l);
        cursor: pointer;
    }
    &__input {
        @extend .c-task__input;
        max-width: 360px;
        margin: 0 var(--space_l);
    }
}
// Project
// **************************************
// Utility
// **************************************
.u-border {
    &-bottom {
        border-bottom: 3px solid var(--color_accent);
    }
}
.u-bgColor {
    &-base {
        background: var(--color_base);
    }
}

// Vue Transition
// ***************************************

